# Firebase config (client - React app)
REACT_APP_FIREBASE_API_KEY=AIzaSyB9j2eWjIb_DDgsPQH_6jXH7yfKFzp7noY
REACT_APP_FIREBASE_AUTH_DOMAIN=hotdog-a101c.firebaseapp.com
REACT_APP_FIREBASE_PROJECT_ID=hotdog-a101c
REACT_APP_FIREBASE_STORAGE_BUCKET=hotdog-a101c.firebasestorage.app
REACT_APP_FIREBASE_MESSAGING_SENDER_ID=1059013925216
REACT_APP_FIREBASE_APP_ID=1:1059013925216:web:c9df139baaf315a8b5a605
